absl-py==1.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
cloudpickle==2.2.0
contourpy==1.0.5
cycler==0.11.0
dm-control==1.0.7
dm-env==1.5
dm-tree==0.1.7
fonttools==4.37.3
glfw==2.5.5
gym==0.26.1
gym-notices==0.0.8
idna==3.4
imageio==2.22.0
joblib==1.2.0
kiwisolver==1.4.4
labmaze==1.0.5
lxml==4.9.1
matplotlib==3.6.0
mujoco==2.2.2
numpy==1.23.3
packaging==21.3
Pillow==9.2.0
protobuf==4.21.6
PyOpenGL==3.1.6
pyparsing==2.4.7
python-dateutil==2.8.2
requests==2.28.1
scikit-learn==1.1.2
scipy==1.9.1
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
tqdm==4.64.1
urllib3==1.26.12
git+https://github.com/prakyathkantharaju/dmcgym.git
